.DS_Store
deploy
.bash*
.psql_history
.vim*
.less*
.mysql*
.ssh*
.cshrc
.login
.login_conf
.mail_aliases
.mailrc
.profile
.rhosts
.shrc
.autotest
public/system
tmp
db/schema.rb
tmp/pages
tmp/sphinx
config/*.sphinx.conf
config/database.yml
nbproject
db/development_structure.sql
config/environments/staging.rb
*~
